@import 'nib';
@import './Utils/forms'
@import './Utils/report'
@import './Confirm/confirm'

@import './Header/header'
@import './Home/home'
@import './Alumnos/alumnos'
@import './Family/family'


@import './Utils/utils'


body
  background #e0e0e0
