
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lista de alumnos</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
</head>
</html>

{% extends "base.html" %}


{% block content %}
  <section class="vh container-confirm">
    <h1 class="confirm-title">¿ Deseas eliminar el alumno {{ object.get_full_name }} ?</h1>
    <div class="row">
      <form method="post">
        {% csrf_token %}
        <button class="waves-effect waves-light btn-large" type="submit" name="submit">
          <i class="material-icons left">done</i>
          Confirmar
        </button>
        <button class="waves-effect waves-light btn-large" type="button" onclick="window.history.back()">
          <i class="material-icons left">cancel</i>
          Cancelar
        </button>
      </form>
    </div>
  </section>
{% endblock %}
