.homepage
  min-height 100vh
  background-image url('../images/home.jpg')
  background-size cover
  background-repeat no-repeat
  background-position center
  &-title
    font-size 3.5em
    color #FFFFFF
  &-ad
    font-size 1.2em
    text-align center
    color #AAA
