thead
  background #311b92
  color #FFFFFF

th
  font-weight 300

.container-detail
  padding 1em

.detail-info
  margin-top 50px
  flex-basis 15%
  text-align center
  border 1px solid #DDD
  padding 1em

.alumno
  &-avatar
    > img
        border-radius 50%
  &-name
  &-ci
    font-weight 300

  &-contact
    .title-contact
      font-weight 300
      font-size 1.5em
      text-align left

  &-vivienda
    margin 30px

  &-family
    margin-top 20px
    border-top 1px solid #DDDDDD

.detail-data
  margin-top 50px
  flex-basis 85%
  margin-left 2%

  .title-data
      margin 0
      text-align center
      font-weight 300
      margin-bottom 40px
      font-size 1.7em
      text-decoration underline
