.wrapper
  max-width 1024px
  margin 0 auto

.content-action
  position absolute
  top 20px
  right 20px
  > .delete > i
      color #d32f2f
.vh
  min-height 100vh

.vh-seven
  min-height 70vh

.pagination
    margin-top 40px

.flex-row
  display flex
  flex-direction row

.item-span
  padding .5em
  background #d7d7cf
  color #7b7b7f
  display block
  margin-bottom 10px

table
  margin-bottom 30px

.colum-two
  column-count 2

.form-search
  > input[type=number]:not(.browser-default)
      width 90%

.search-avatar
  > img
      border-radius 50%

.fifty
  width 60%

th
  text-align center

select
  display block
  height 3.3em

.violeta
  background #311b92
  &:hover
    background #311b92

.mensaje-error
  color red
  text-align center
